@import url("../../shared/variables.scss");

.header-component {
  background: $header-bg;
  margin-bottom: 45px;

  .logo {
    width: 320px;
    padding: 15px;
  }

  .nav {
    padding-left: 30px;
    font-size: 18px;
    font-family: $font-montserrat;
  }

  .nav-pills>li>a {
    border-radius: 0;
    padding: 21px 15px;
    color: white;
  }

  .nav-pills>li>a:hover, 
  .nav-pills>li>a:focus, 
  .nav-pills>li>a:active {
    background: darken($header-bg, 10%);
  } 

  .nav-pills>li.active>a {
    background: $highlight-tab-bg;
  }
}