.subscriptions-page {
  .search-form .form-control::placeholder {
    text-indent: 20px;
    font-style: italic;
  }

  .search-form {
    margin-bottom: 45px;
  }

  .typeahead.dropdown-menu {
    right: 15px;
    border-radius: 0;
    margin: -5px 0 0;
  }

  .media-left img {
    width: auto;
    height: 65px;
  }

  .search-form {
    margin-bottom: 15px;
  }

  .search-form .search-label {
    font-size: 60px;
    text-align: center;
    font-weight: 700;
    height: 40px;
    overflow: hidden;
    margin-bottom: 5px;
    line-height: 60px;
    margin-top: -15px;
  }
}