.subscriptions-page {
  .container-subscriptions {
    margin-top: 45px;
  }

  .search-form .form-control::placeholder {
    text-indent: 20px;
    font-style: italic;
  }

  .search-form {
    margin-bottom: 45px;
  }

  .typeahead.dropdown-menu {
    right: 15px;
    border-radius: 0;
    margin: -5px 0 0;
  }

  .media-left img {
    width: auto;
    height: 65px;
  }

  .search-form {
    margin-bottom: 15px;
  }
}